

<footer>
    <span id="rights-information"><i class="fa-regular fa-copyright"></i>All Rights Reserved.</span>
    <span class="footer-nav-bar"><a href="/">Home</a></span>
    <span class="footer-nav-bar"><a href="/users/profile/user._id">Profile</a></span>
</footer>