<header>
    <div id="logo">
        <a href="/"><i class="fa-solid fa-code fa-2x"></i><span id="logo-name">CodeBuzz</span></a>
    </div>


    <div id="right-nav-bar">
        <%if(locals.user){%>
            <span class="nav-item"><a href="/users/profile/<%= user._id%>"><%= user.name %></a></span>
            <span class="nav-item"><a href="/users/sign-out">Sign out</a></span>
        <%}else{%>
            <span class="nav-item"><a href="/users/sign-in">Sign in</a></span>
            <span class="nav-item"><a href="/users/sign-up">Sign up</a></span>  
        <%}%>
    </div>
</header>