<link rel="stylesheet" href="/css/home.css">

<div id="home-sections-container">
    <section id="feed-posts">
        <% if(locals.user){ %>
            <div id="create-post-form">
                <form action="/posts/create" method="post" id="new-post-form">
                    <textarea  id="textarea" name="content" id="new-post-content" cols="74" rows="2" placeholder="Have something in your mind?" required></textarea>
                    <input type="submit" value="Post" id="submit">
                </form>
            </div>
        <%}%>
        <div id="post-list-container">
            <ul>
                <%for(post of posts){ %>
                    <%- include('_post'); -%>
                <%}%>
            </ul>
        </div>
        
    </section>
    <section id="user-friends">
        <h4>Friends</h4>
        <% for(u of all_users){%>
            <p><a href="/users/profile/<%= u.id %>"><%= u.name %></a></p>
        <%}%>
    </section>
</div>
<script src="/js/home_posts.js"></script>
<script src="/js/home_comments.js"></script>
<!-- import the script file for toggle likes, and run it over for all present posts and comments on the post -->
<script src="js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>


