#home-sections-container{
    display: flex;
    min-height: 84vh;
    #feed-posts{
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        width: 80%;
        padding: 10px;
        #create-post-form{
            margin-top: 10px;
            min-width: 760px;
            display: flex;
            align-items: center;
            justify-content: center;
            #new-post-form{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            #textarea{
                border-radius: 10px;
                font-size: 15px;
                padding: 5px;
                margin-left: 10px;
            }
            #submit{
                height: 50px;
                margin: 0px 9px 0px 9px;
                border-radius: 10px;
                width: 90px;
                background-color: brown;
                color: white;
                font-size: 15px;
                border: 2px solid transparent;
                transition: all .3s ease-in-out;
                &:hover{
                    background-color: white;
                    color: brown;
                    border: 2px solid brown;
                }
            }
        }
        #post-list-container{
            min-width: 50%;
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // justify-content: center;
            ul{
                list-style-type: none;
                color: white;
                list-style-position: inside;
                padding-left: 0;
                li{
                    padding: 5px 20px;
                    background-color: brown;
                    border-radius: 10px;
                    margin: 10px 10px 25px 10px;
                    max-width: 700px;
                }
            }
        }
    }
    #user-friends{
        width: 20%;
        padding: 10px;
        height: 100%;
        // border-left: 1px solid black;
    }
}