body{
    margin : 0;
    padding: 0;
    /* text-align: center; */
    #layout-main{
        min-height: 84vh;
        h1{
            margin: 0;
        }
    }
    #layout-main{
        // background-color: antiquewhite;
        background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    }
}